<br id="About">
<br>
<br>
    

<div class="row"> 
    <h3 style="text-align: center; font-size: 50px;" class="text">ABOUT</h3>
    <div class="image1">
        <div class="line1"></div>
        <div class="star1"><img src="/assets/star.png" alt="Star"></div>
        <div class="line1"></div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br> 
    
    <div class="col-lg-4 ms-auto"> 
        <p class="lead" style="font-weight: bold;">
            "As a passionate novice in the field of software engineering, I am eagerly immersing myself in the learning process at MSI, driven by the ambition to elevate my expertise and ultimately excel as a senior software engineer."
        </p>
    </div>
    <div class="col-lg-4 ms-auto">
        <p class="lead" style="font-weight: bold;">
            "At MSI, I embrace the opportunity to explore advanced programming concepts and emerging technologies. Collaborating with peers, I'm expanding my technical skills while honing problem-solving abilities and fostering a passion for making a meaningful impact in the dynamic realm of software development."
        </p>
    </div>
    <a class="download" href="https://mandalaysoftwareinstitute.com/" target="_blank">
        <img src="/assets/http.png" alt="download" style="height: 60px; width:60px;">
    </a>
</div>