<div class="bg">
    
    <br id="home">
    <br>
    <br>
    <br>
    <br>
    <br>


    <div><img src="/assets/avataaars.png"
        alt="photo" 
        style="height: 300px; width: 300px; border-radius: 300%; display: block; margin-left: auto; margin-right: auto; padding: 10px ;"></div>
    <div><h1 style="text-align: center; color: white; font-size: 60px;">Min Htaw La Wi Paing</h1></div>

    <br>

    <div class="image1">
        <div class="line1"></div>
        <div class="star1"><img src="/assets/star.png" alt="Star"></div>
        <div class="line1"></div>
    </div>
    <br>
    <h5 style="text-align: center; color: white; font-size: 25px;">Begginner Software Engineer (Learning at MSI)</h5>
    <br>
    <br>
    <br>
    <br>
</div>