<br id="contact">
<br>
<br>
<br>

<div>
    <h1>Contact Me</h1>
    <br>
    <div class="image2">
        <div class="line2"></div>
        <div class="star2"><img src="/assets/star2.png" alt="Star2"></div>
        <div class="line2"></div>
    </div>


    <br>
    <br>


    <form>
            <!-- Name input-->
        <div class="form-floating mb-3">
            <input class="form-control" id="name" type="text"/>
            <label for="name">Full name</label>
        </div>

            <!-- Email address input-->
        <div class="form-floating mb-3">
            <input class="form-control" id="email" type="email"/>
            <label for="email">Email address</label>
        </div>

            <!-- Phone number input-->
        <div class="form-floating mb-3">
            <input class="form-control" id="phone" type="tel"/>
            <label for="phone">Phone number</label>
        </div>

            <!-- Message input-->
        <div class="form-floating mb-3">
            <textarea class="form-control" id="message" type="text" style="height: 10rem"></textarea>
            <label for="message">Message</label>
        </div>
        <input type="Submit" value="Send">

    </form>
</div>